@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: url('/kitchen.jpg') no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); 
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pacifico-font {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
}

.playwrite-font {
  font-family: 'Merienda', cursive;
  font-size: 1rem; 
}

.merienda-font {
  font-family: 'Merienda', cursive;
}

.merienda-label {
  font-family: 'Merienda', cursive;
  font-size: 1rem;
}